---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="inline opacity-75">
    Mail me at
    <a href="mailto:doneber.dev@gmail.com" target="_blank" class="font-bold">doneber.dev@gmail.com</a>
  </div>
</footer>
<style>

</style>
